<!-- conthead -->
<div class="tab-page-wrapper-space">
	<div class="tab-page-wrapper bg-primary"></div>
</div>

<div class="tab-page-wrapper-space">
	<div class="tab-page-wrapper bg-info">
		<ol class="col-md-4 breadcrumb">
			<li class="active">提供人員</li>
		</ol>

		<div class="col-md-8">
			申請項目
			<a class="btn btn-default" href="javascript:;"> <i class="-plus fa fa-fw fa-plus"></i>
				新增項目
			</a>
		</div>
	</div>
</div>

<div class="row add-task">
	<div class="col-md-4">
		<div class="add-task-left-col js_col-l">
			<form class="col-md-10 col-md-offset-1 form-horizontal">
				<table>
					<tr>
						<td>
							<img alt="90" class="img-circle img-thumbnail text-middle" src="http://placehold.it/90"></td>
						<td>
							<span class="task-card-item-title text-middle">李華妹</span>
						</td>
					</tr>
				</table>
				<div class="form-group top-buffer">
					<div class="col-md-12">
						<select class="form-control">
							<option>{主管姓名}</option>
						</select>
					</div>
				</div>

			</form>
		</div>
	</div>
	<div class="col-md-8">
		<div class="add-task-right-col js_col-r supplies_rows">
			<form class="form-horizontal" role="form">
				
				<div class="col-md-12">
					<div class="row">
						<div class="form-group">
							<div class="col-md-1 text-right">
								<h3>1</h3>
							</div>
							<div class="col-md-10">
								<div class="form-group">
									<label class="col-sm-2 control-label">項目名稱</label>
									<div class="col-sm-10">
										<select class="form-control">
											<option>中衛檢驗手套(無粉/PVC) - M</option>
											<option>中衛檢驗手套(無粉/PVC) - L</option>
											<option>不織布平面口罩</option>
											<option>單色乳膠手套8.5</option>
											<option>雙色乳膠手套7.5</option>
											<option>雙色乳膠手套8</option>
											<option>雙色乳膠手套8.5</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">申請數量</label>
									<div class="col-sm-10">
										<input class="form-control" type="text" placeholder="200"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">申請用途</label>
									<div class="col-sm-10">
										<label class="radio-inline">
											<input type="radio" name="radio01" value="">自用</label>
										<label class="radio-inline">
											<input type="radio" name="radio01" value="">送人</label>
									</div>
								</div>
							</div>
						</div>
						<hr></div>

					<div class="row">
						<div class="form-group">
							<div class="col-md-1 text-right">
								<h3>2</h3>
							</div>
							<div class="col-md-10">
								<div class="form-group">
									<label class="col-sm-2 control-label">項目名稱</label>
									<div class="col-sm-10">
										<select class="form-control">
											<option>中衛檢驗手套(無粉/PVC) - M</option>
											<option>中衛檢驗手套(無粉/PVC) - L</option>
											<option>不織布平面口罩</option>
											<option>單色乳膠手套8.5</option>
											<option>雙色乳膠手套7.5</option>
											<option>雙色乳膠手套8</option>
											<option>雙色乳膠手套8.5</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">申請數量</label>
									<div class="col-sm-10">
										<input class="form-control" type="text" placeholder="200"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">申請用途</label>
									<div class="col-sm-10">
										<label class="radio-inline">
											<input type="radio" name="radio01" value="">自用</label>
										<label class="radio-inline">
											<input type="radio" name="radio01" value="">送人</label>
									</div>
								</div>
							</div>
						</div>
						<hr></div>

					<div class="row">
						<div class="form-group">
							<div class="col-md-1 text-right">
								<h3>3</h3>
							</div>
							<div class="col-md-10">
								<div class="form-group">
									<label class="col-sm-2 control-label">項目名稱</label>
									<div class="col-sm-10">
										<select class="form-control">
											<option>中衛檢驗手套(無粉/PVC) - M</option>
											<option>中衛檢驗手套(無粉/PVC) - L</option>
											<option>不織布平面口罩</option>
											<option>單色乳膠手套8.5</option>
											<option>雙色乳膠手套7.5</option>
											<option>雙色乳膠手套8</option>
											<option>雙色乳膠手套8.5</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">申請數量</label>
									<div class="col-sm-10">
										<input class="form-control" type="text" placeholder="200"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">申請用途</label>
									<div class="col-sm-10">
										<label class="radio-inline">
											<input type="radio" name="radio01" value="">自用</label>
										<label class="radio-inline">
											<input type="radio" name="radio01" value="">送人</label>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>