<div class="tab-page-wrapper-space">
	<div class="tab-page-wrapper bg-primary">
		<a class="btn btn-default btn-sm" href="javascript:;">
			<i class="fa fa-angle-left"></i>&nbsp;返回
		</a>
		<a class="btn btn-default btn-sm pull-right" href="javascript:;">
			儲存&nbsp;<i class="fa fa-angle-right"></i>
		</a>
	</div>
</div>
<form class="row top-buffer">
	<div class="row">
		<div class="form-inline col-md-12">
			<div class="col-md-1">
				<label>送出時間</label>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" placeholder="2015-04-17">          
				<select class="form-control">
					<option>8</option>
					<option>9</option>
				</select>
				<span>:</span>
				<select class="form-control">
					<option>05</option>
					<option>10</option>
				</select>
			</div>
		</div>
	</div>
	<hr>          
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-1">
				<label>標題</label>
			</div>
			<div class="col-md-10">
				<input type="text" class="form-control col-md-12" placeholder=""></div>
		</div>
	</div>
	<hr>          
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-1">
				<label>內容</label>
			</div>
			<div class="top-buffer col-md-10">
				<table class="table align-middle-table custom-table-01 reset-list-style">
					<tbody>
						<tr>
							<td>
								<div class="col-md-6"> <strong>填表者</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">個案本人</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios">家屬</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6"> <strong>已使用服務時間</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">六個月以內</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios">六個月已上至一年以內</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">一年以上至二年以內</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios">二年以上</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="info">
								<div class="col-md-6">
									<strong><p>對本基金會居家照顧服務之滿意度</p></strong> 
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>服務時間安排</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">尚可</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">不滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常不滿意</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>服務時間安排
										<br>勾選不足者，請回答2-1問題</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">恰當</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">不足</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>
										服務時間不足之原因
										<br>勾選政府核定時數不敷使用者，請回答2-2問題</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">政府核定時數不敷使用</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">受限居服員人力因素</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">其他</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>是否願意使用自費服務</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">尚可</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">不滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常不滿意</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>對居服員的工作態度</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">尚可</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">不滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常不滿意</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>對居服員的服務專業度</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">尚可</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">不滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常不滿意</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>對督導員的服務態度</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">尚可</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">不滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常不滿意</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>對督導員的服務專業度</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">尚可</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">不滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常不滿意</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-6">
									<strong>對服務單位的服務滿意度</strong>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">尚可</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">不滿意</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" value="" name="EnableRadios" checked="">非常不滿意</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-md-12">
									<strong>
										<p class="text-center">意見與建議</p></strong> 
									<div class="col-md-12">
										<textarea class="form-control" rows="5"></textarea>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr>
	</div>
</form>