<div class="row top-buffer">
	<form class="form-horizontal well clearfix" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2 text-right">
					<lable class="form-control-static">查詢條件</lable>
				</div>
				<div class="col-md-6 text-right">
					<input type="text" class="form-control" placeholder="請輸入長照案號、個案或居服員姓名"></div>
				<div class="col-md-1">
					<button class="btn btn-default">
						查詢 <i class="fa fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>
	</form>
	<hr></div>
<div class="text-right">
	<a class="btn btn-success ">發起調查</a>
</div>
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>序號</th>
				<th>雙連案號</th>
				<th>長照案號</th>
				<th>照護者</th>
				<th>居服員</th>
				<th>調查項目</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>01</td>
				<td>SL12345678</td>
				<td>WXJW44498</td>
				<td>
					張大春
					<br></td>
				<td>王小明</td>
				<td>
					<div class="dspmore">
						<li><p class="text-primary">- 2015 下半年居家滿意度調查 （進行中）</p></li>
						<li><p class="text-muted">- 2015 上半年居家滿意度調查 （已完成）</p></li>
						<li><p class="text-danger">- 2014 下半年居家滿意度調查 （未填寫）</p></li>
						<li><p class="text-muted">- 2014 上半年居家滿意度調查 （已完成）</p></li>
						<li><p class="text-muted">- 2013 下半年居家滿意度調查 （已完成）</p></li>
						<li><p class="text-muted">- 2013 上半年居家滿意度調查 （已完成）</p></li>
					</div>
				</td>
			</tr>
			<tr>
				<td>01</td>
				<td>SL12345678</td>
				<td>WXJW44498</td>
				<td>陳浩南</td>
				<td>王小明</td>
				<td>
					<div class="dspmore">
						<li><p class="text-primary">- 2015 下半年居家滿意度調查 （進行中）</p></li>
						<li><p class="text-muted">- 2015 上半年居家滿意度調查 （已完成）</p></li>
						<li><p class="text-danger">- 2014 下半年居家滿意度調查 （未填寫）</p></li>
					</div>
				</td>
			</tr>
			<tr>
				<td>01</td>
				<td>SL12345678</td>
				<td>WXJW44498</td>
				<td>李山雞</td>
				<td>王小明</td>
				<td>
					<div class="dspmore">
						<li><p class="text-muted">- 2015 上半年居家滿意度調查 （已完成）</p></li>
						<li><p class="text-danger">- 2014 下半年居家滿意度調查 （未填寫）</p></li>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>