<div class="row top-buffer">
	<form class="form-horizontal well clearfix" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2 text-right">
					<lable class="form-control-static">日期區間</lable>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
						<div class="col-md-2">~</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
					</div>
				</div>
				<div class="col-md-1">
					<button class="btn btn-default">
						查詢 <i class="fa fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
<hr>
<div class="row">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>序號</th>
				<th>調查項目</th>
				<th>時間</th>
				<th>狀態</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>01</td>
				<td>
					<p class="text-primary">2015 下半年居家滿意度調查</p>
				</td>
				<td>2015.06.31</td>
				<td>
					<p class="text-primary">未完成</p>
				</td>
			</tr>
			<tr>
				<td>02</td>
				<td>
					<p class="text-muted">2015 上半年居家滿意度調查</p>
				</td>
				<td>2015.06.31</td>
				<td>
					<p class="text-muted">已完成</p>
				</td>
			</tr>
			<tr>
				<td>03</td>
				<td>
					<p class="text-danger">2014 下半年居家滿意度調查</p>
				</td>
				<td>2015.06.31</td>
				<td>
					<p class="text-danger">未填寫</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>