<div class="tab-page-wrapper-space">
	<div class="tab-page-wrapper bg-primary">
		<a class="btn btn-default btn-sm" href="javascript:;"><i class="fa fa-angle-left"></i>&nbsp;返回</a>
		<a class="btn btn-default btn-sm pull-right" href="javascript:;">儲存&nbsp;<i class="fa fa-angle-right"></i></a>
	</div>
</div>
<form class="row top-buffer">
	<div class="row">
		<div class="col-md-1">
			<h3>
				<small>服務時間</small>
			</h3>
		</div>
		<div class="col-md-11">
			<h3>
				<small>2015/10/01 10:00 ~ 14:00</small>
			</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<table>
				<tbody>
					<tr>
						<td>
							<h3>
								<small>督導員</small>
							</h3>
						</td>
						<td class="col-md-4">
							<img alt="90" class="img-circle img-thumbnail text-middle" src="http://placehold.it/90"></td>
						<td class="col-md-">
							<span class="task-card-item-title text-middle">黃大仁</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<table>
				<tbody>
					<tr>
						<td>
							<h3>
								<small>服務員</small>
							</h3>
						</td>
						<td class="col-md-4">
							<img alt="90" class="img-circle img-thumbnail text-middle" src="http://placehold.it/90"></td>
						<td class="col-md-">
							<span class="task-card-item-title text-middle">張曉風</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-9">
			<h3>
				<small>整體服務評分</small>
			</h3>
			<div class="col-md-12 top-buffer">
				<label class="col-md-3 radio-inline">
					<input type="radio" value="" name="EnableRadios">1分 非常不滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">2分 不滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">3分 尚可</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">4分 滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">5分 非常滿意</label>
			</div>
		</div>
		<div class="col-md-3">
			<h3>
				<small>平均分數</small>
			</h3>
			<h1>3.7</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3>
				<small>單項服務評分</small>
			</h3>
			<div class="col-md-12">
				<h3>
					<small>項目1</small>
				</h3>
				<label class="col-md-3 radio-inline">
					<input type="radio" value="" name="EnableRadios">1分 非常不滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">2分 不滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">3分 尚可</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">4分 滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">5分 非常滿意</label>
			</div>
			<hr>
			<div class="col-md-12">
				<h3>
					<small>項目2</small>
				</h3>
				<label class="col-md-3 radio-inline">
					<input type="radio" value="" name="EnableRadios">1分 非常不滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">2分 不滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">3分 尚可</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">4分 滿意</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" value="" name="EnableRadios">5分 非常滿意</label>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3>
				<small>意見與評語</small>
			</h3>
			<div class="col-md-12">
				<textarea class="form-control" rows="5"></textarea>
			</div>
		</div>
	</div>
</form>