<div class="row top-buffer">
	<form class="form-horizontal well clearfix" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2 text-right">
					<lable class="form-control-static">查詢條件</lable>
				</div>
				<div class="col-md-6 text-right">
					<input type="text" class="form-control" placeholder="請輸入居服員姓名"></div>
				<div class="col-md-1">
					<button class="btn btn-default">
						查詢 <i class="fa fa-search fa-fw"></i>
					</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-2 text-right">
					<p class="form-control-static">日期區間</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
						<div class="col-md-2">~</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>序號</th>
				<th>服務時間</th>
				<th>居服員</th>
				<th>打卡時間</th>
				<th>服務項目</th>
				<th class="text-center">評鑑</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>01</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>王小明</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>整理家務 / 帶出門看醫生 / 陪聊天散步 / 買菜煮飯打掃 / 洗澡</td>
				<td class="text-center">
					<a class="btn btn-primary">進行評鑑</a>
				</td>
			</tr>
			<tr class="active">
				<td>02</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>王小明</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>整理家務 / 陪聊天散步</td>
				<td class="text-center">
					<a class="btn btn-success">修改評鑑</a>
				</td>
			</tr>
			<tr class="active">
				<td>03</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>王小明</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>買菜煮飯打掃 / 洗澡</td>
				<td class="text-center">
					<p class="text-danger">逾期未評</p>
				</td>
			</tr>
			<tr>
				<td>04</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>王小明</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>整理家務 / 帶出門看醫生 / 陪聊天散步 / 買菜煮飯打掃 / 洗澡</td>
				<td class="text-center">
					<a class="btn btn-primary">進行評鑑</a>
				</td>
			</tr>
			<tr class="active">
				<td>05</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>王小明</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>送餐服務 / 整理家務 / 帶出門看醫生 / 陪聊天散步 / 買菜煮飯打掃 / 洗澡</td>
				<td class="text-center">
					<p>已評鑑</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>