<div class="wrap-calendar">

	<div id='calendar'></div>

	<!-- attendant -->
	<div class="wrap-attendant">
		<a href="javascript:;" id="btn-attendant" class="bgc01">居服員比對</a>
		<div class="wrap-cont-attendant">
			<div id="filterBox1">
				<p>請勾選居服人員進行比對(最多10個)</p>
				<ul class="cont-attendant">
					<li><input type="checkbox" id="attendant01" class="btn_attendant01"><label for="attendant01">居服員1</label></li>
					<li><input type="checkbox" id="attendant02" class="btn_attendant02"><label for="attendant02">居服員2</label></li>
					<li><input type="checkbox" id="attendant03" class="btn_attendant03"><label for="attendant03">居服員3</label></li>
					<li><input type="checkbox" id="attendant04" class="btn_attendant04"><label for="attendant04">居服員4</label></li>
					<li><input type="checkbox" id="attendant05" class="btn_attendant05"><label for="attendant05">居服員5</label></li>
					<li><input type="checkbox" id="attendant06" class="btn_attendant06"><label for="attendant06">居服員6</label></li>
					<li><input type="checkbox" id="attendant07" class="btn_attendant07"><label for="attendant07">居服員7</label></li>
					<li><input type="checkbox" id="attendant08" class="btn_attendant08"><label for="attendant08">居服員8</label></li>
					<li><input type="checkbox" id="attendant09" class="btn_attendant09"><label for="attendant09">居服員9</label></li>
					<li><input type="checkbox" id="attendant10" class="btn_attendant10"><label for="attendant10">居服員10</label></li>
					<li><input type="checkbox" id="attendant11" class="btn_attendant11"><label for="attendant11">居服員11</label></li>
					<li><input type="checkbox" id="attendant12" class="btn_attendant12"><label for="attendant12">居服員12</label></li>
				</ul>
				<div class="clear"></div>
				<a href="javascript:;" id="btn-af-check" class="bgc01">確定</a>
			</div>
			<div id="filterBox2">
				<ul></ul>
				<div class="clear"></div>
				<a href="javascript:;" id="btn-af-close" class="bgc01">X</a>
			</div>
		</div>
	</div>
	<!-- attendant//-->

	<!-- case -->
	<div class="wrap-case">
		<a href="javascript:;" id="btn-case" class="bgc01">個案比對</a>
		<div class="wrap-cont-case">
			<div id="filterBox3">
				<p>請勾選個案進行比對(最多10個)</p>
				<ul class="cont-attendant">
					<li><input type="checkbox" id="case01" class="btn_case01"><label for="case01">曹爺爺</label></li>
					<li><input type="checkbox" id="case02" class="btn_case02"><label for="case02">張爺爺</label></li>
					<li><input type="checkbox" id="case03" class="btn_case03"><label for="case03">張奶奶</label></li>
					<li><input type="checkbox" id="case04" class="btn_case04"><label for="case04">黃王奶奶</label></li>
					<li><input type="checkbox" id="case05" class="btn_case05"><label for="case05">江爺爺</label></li>
					<li><input type="checkbox" id="case06" class="btn_case06"><label for="case06">王奶奶</label></li>
				</ul>
				<div class="clear"></div>
				<a href="javascript:;" id="btn-cf-check" class="bgc01">確定</a>
			</div>
			<div id="filterBox4">
				<ul></ul>
				<div class="clear"></div>
				<a href="javascript:;" id="btn-cf-close" class="bgc01">X</a>
			</div>
		</div>
	</div>
	<!-- case//-->

	<!-- filterEvent -->
	<div id="filterEvent">
		<input type="checkbox" id="eventTask" class="btn_eventTask" checked="checked"><label for="eventTask">任務</label>
		<input type="checkbox" id="eventMeeting" class="btn_eventMeeting" checked="checked"><label for="eventMeeting">會議/職訓</label>	
	</div>
	<!-- filterEvent//-->

</div>