<div class="row top-buffer">
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號</a>
</div>

<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>照片</th>
				<th>帳號 Email</th>
				<th>姓名</th>
				<th>手機電話</th>
				<th>市內電話</th>
				<th>啟用狀態</th>
				<th>QRCode</th>
				<th>編輯</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img alt="64" class="img-circle" src="http://placehold.it/64"></td>
				<td><a href="#">bill0705@tw.shuttle.com</a></td>
				<td>王比利</td>
				<td>0978-329-903</td>
				<td>02-2882-5252</td>
				<td>啟用</td>
				<td><img alt="64" class="img-responsive" src="http://placehold.it/64"></td>
				<td><a href="#"><i class="fa fa-pencil-square-o fa-3x"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>