<div class="row top-buffer">
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號</a>
</div>

<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>個人相片</th>
				<th>帳號 Email</th>
				<th>姓名</th>
				<th>手機電話</th>
				<th>市內電話</th>
				<th>緊急聯絡人</th>
				<th>出生年月日</th>
				<th>年齡</th>
				<th>身分證字號</th>
				<th>籍貫</th>
				<th>性別</th>
				<th>信仰</th>
				<th>婚姻狀況</th>
				<th>教育程度</th>
				<th>居住地址</th>
				<th>子女數量</th>
				<th>身高</th>
				<th>體重</th>
				<th>駕照</th>
				<th>投入狀況</th>
				<th>身分別（一）</th>
				<th>身分別（二）</th>
				<th>領取身心障礙手冊</th>
				<th>障別</th>
				<th>障別等級</th>
				<th>到職日期</th>
				<th>開始服務時間</th>
				<th>所屬督導員</th>
				<th>可服務時間</th>
				<th>啟用狀態</th>
				<th>人事資料表</th>
				<th>QRCode</th>
				<th>編輯</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img alt="64" class="img-circle" src="http://placehold.it/64"></td>
				<td>email@tw.shuttle.com</td>
				<td>王比利</td>
				<td>0978-329-903</td>
				<td>02-2882-5252</td>
				<td>王瑪莉</td>
				<td>1911-11-11</td>
				<td>99</td>
				<td>A123456789</td>
				<td>福建省</td>
				<td>男</td>
				<td>道教</td>
				<td>已婚</td>
				<td>小學</td>
				<td>台北市信義區信義路五段7號</td>
				<td>9子9女</td>
				<td>199</td>
				<td>99</td>
				<td>有/聯結車普通駕駛執照</td>
				<td>兼職</td>
				<td>非原住民</td>
				<td>中高齡</td>
				<td>有</td>
				<td>多重障礙</td>
				<td>重度</td>
				<td>2000/01/01</td>
				<td>2011/11/11</td>
				<td>陳某某/李某某</td>
				<td><ul><li>一/08:00-13:00</li><li>二/08:00-13:00</li></ul></td>
				<td>啟用</td>
				<td class="text-center"><a href="#"><i class="fa fa-file-text-o fa-2x"></i></a></td>
				<td class="text-center"><a href="#"><i class="fa fa-qrcode fa-2x"></i></a></td>
				<td class="text-center"><a href="#"><i class="fa fa-pencil-square-o fa-2x"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>