<div class="row top-buffer">
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號</a>
</div>

<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>個人相片</th>
				<th>帳號 Email</th>
				<th>姓名</th>
				<th>手機電話</th>
				<th>市內電話</th>
				<th>隸屬主管</th>
				<th>所屬居服員</th>
				<th>服務個案</th>
				<th>身分別（一）</th>
				<th>身分別（二）</th>
				<th>啟用狀態</th>
				<th>QRCode</th>
				<th>編輯</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img alt="64" class="img-circle" src="http://placehold.it/64"></td>
				<td>email@tw.shuttle.com</td>
				<td>王比利</td>
				<td>0900-000-000</td>
				<td>02-0000-0000</td>
				<td>歐區欠</td>
				<td>
				<!-- 如果超過多筆 -->
				<ul class="scroll_table_list">
					<% 99.times do %>
					<li>張弓長</li>
					<% end %>
				</ul>
				</td>
				<td>李木子</td>
				<td>一般民眾</td>
				<td>中高齡</td>
				<td>啟用</td>
				<td class="text-center"><a href="#"><i class="fa fa-qrcode fa-2x"></i></a></td>
				<td class="text-center"><a href="#"><i class="fa fa-pencil-square-o fa-2x"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>