<div class="row top-buffer">
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號(新制)</a>
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號(舊制)</a>
</div>

<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style js--spy--width datatables">
		<thead>
			<tr class="GridviewScrollHeader">
				<th>帳號 Email</th>
				<th>案號</th>
				<th>長照案號</th>
				<th>居服員</th>
				<th>督導員</th>
				<th>姓名</th>
				<th>性別</th>
				<th>年齡</th>
				<th>身分別(一)</th>
				<th>身分別(二)</th>
				<th>身分別(四)</th>
				<th>身心障礙手冊</th>
				<th>服務需求時數</th>
				<th>核定時數</th>
				<th>補助比例（政府補助額度）</th>
				<th>派案日期</th>
				<th>預定首次服務時間</th>
				<th>服務頻率</th>
			</tr>			
		</thead>
		<tbody>
			<tr class="GridviewScrollItem" data-toggle="tooltip" data-placement="top" title="王比利">
				<td>email@tw.shuttle.com</td>
				<td>123456</td>
				<td>123456789</td>
				<td>居服員1</td>
				<td>歐區欠</td>
				<td>王比利</td>
				<td>爺爺</td>
				<td>99</td>
				<td>一般戶</td>
				<td>原住民</td>
				<td>長十</td>
				<td>有</td>
				<td>5 小時/月</td>
				<td>5 小時/月</td>
				<td>100%</td>
				<td>yyyy/mm/dd</td>
				<td>yyyy/mm/dd</td>
				<td>以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</td>
			</tr>
			<tr class="GridviewScrollItem">
				<td>email@tw.shuttle.com</td>
				<td>123456</td>
				<td>123456789</td>
				<td>居服員1</td>
				<td>歐區欠</td>
				<td>王比利</td>
				<td>爺爺</td>
				<td>99</td>
				<td>一般戶</td>
				<td>原住民</td>
				<td>長十</td>
				<td>有</td>
				<td>5 小時/月</td>
				<td>5 小時/月</td>
				<td>100%</td>
				<td>yyyy/mm/dd</td>
				<td>yyyy/mm/dd</td>
				<td>以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</td>
			</tr>
			<tr class="GridviewScrollItem">
				<td>email@tw.shuttle.com</td>
				<td>123456</td>
				<td>123456789</td>
				<td>居服員1</td>
				<td>歐區欠</td>
				<td>王比利</td>
				<td>爺爺</td>
				<td>99</td>
				<td>一般戶</td>
				<td>原住民</td>
				<td>長十</td>
				<td>有</td>
				<td>5 小時/月</td>
				<td>5 小時/月</td>
				<td>100%</td>
				<td>yyyy/mm/dd</td>
				<td>yyyy/mm/dd</td>
				<td>以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</td>
			</tr>
			<tr class="GridviewScrollItem">
				<td>email@tw.shuttle.com</td>
				<td>123456</td>
				<td>123456789</td>
				<td>居服員1</td>
				<td>歐區欠</td>
				<td>王比利</td>
				<td>爺爺</td>
				<td>99</td>
				<td>一般戶</td>
				<td>原住民</td>
				<td>長十</td>
				<td>有</td>
				<td>5 小時/月</td>
				<td>5 小時/月</td>
				<td>100%</td>
				<td>yyyy/mm/dd</td>
				<td>yyyy/mm/dd</td>
				<td>以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</td>
			</tr>
		</tbody>
	</table>
</div>