<div class="row top-buffer">
	<ol class="breadcrumb">
		<li class="active"><a href='javascript:;'>平台管理</a></li>
		<li class="active"><a href='javascript:;'>帳號設定</a></li>
		<li class="active"><a href='javascript:;'>行政人員</a></li>
		<li class="active">編輯帳號</li>
	</ol>
</div>
<form class="row top-buffer">
	<div class="text-right">
		<input class="btn btn-default" type="button" value="取消">
		<input class="btn btn-success" type="submit" value="儲存">
	</div>
	<hr>
	<div class="row col-md-12 form-horizontal">
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">啟用狀態</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="EnableRadios" checked="">啟用</label>
				<label class="radio-inline"><input type="radio" value="" name="EnableRadios">停用</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">個人相片</label>
			<div class="col-md-10">
				<img alt="" class="img-responsive img-thumbnail" src="http://placehold.it/200">
				<input class="help-block top-buffer" type="file" href="javascript:;">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">帳號 Email</label>
			<div class="col-md-10">
				<input type="email" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">密碼</label>
			<div class="col-md-10">
				<!-- <input type="password" class="form-control" placeholder=""> -->
				<a class="btn btn-default js__chang_input_pw" href="javascript:;" ><i class="fa fa-edit fa-lg"></i>&nbsp;修改密碼</a>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">姓名</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">手機電話</label>
			<div class="col-md-10">
				<input type="tel" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">市內電話</label>
			<div class="col-md-10">
				<input type="tel" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="control-label col-md-2">緊急聯絡人</label>
			<div class="col-md-10">
				<label class="form-control-static">姓名</label>
				<input type="text" class="form-control" placeholder="">
				<label class="form-control-static">關係</label>
				<input type="text" class="form-control" placeholder="">
				<label class="form-control-static">電話</label>
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="control-label col-md-2">出生年月日</label>
			<div class="col-md-10">
				<input type="text" class="form-control datepicker" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="control-label col-md-2">年齡</label>
			<div class="col-md-10">
				<label class="form-control-static">99</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="control-label col-md-2">身份證字號</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">籍貫</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">性別</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="SexRadios" checked="">男性</label>
				<label class="radio-inline"><input type="radio" value="" name="SexRadios">女性</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">信仰</label>
			<div class="col-md-10">
				<label class="checkbox-inline"><input type="checkbox" value="">道教</label>
				<label class="checkbox-inline"><input type="checkbox" value="">佛教</label>
				<label class="checkbox-inline"><input type="checkbox" value="">基督教</label>
				<label class="checkbox-inline"><input type="checkbox" value="">天主教</label>
				<label class="checkbox-inline"><input type="checkbox" value="">一貫道</label>
				<label class="checkbox-inline"><input type="checkbox" value="">其他</label>
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">婚姻狀況</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="" checked="">已婚</label>
				<label class="radio-inline"><input type="radio" value="" name="">未婚</label>
				<label class="radio-inline"><input type="radio" value="" name="">喪偶</label>
				<label class="radio-inline"><input type="radio" value="" name="">離婚</label>
				<label class="radio-inline"><input type="radio" value="" name="">分居</label>
				<label class="radio-inline"><input type="radio" value="" name="">其他</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">教育程度</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="EduRadios" checked="">不識字</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">識字未就學</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">特教-國小</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">特教-國中</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">特教-高中</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">國小</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">國中</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">高中</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">大專</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">研究所以上</label>
				<label class="radio-inline"><input type="radio" value="" name="EduRadios">其他</label>
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">居住地址</label>
			<div class="col-md-10">
				<select class="form-control">
					<option>縣市</option>
					<option>台北市</option>
					<option>苗栗市</option>
					<option>台中市</option>
					<option>台南市</option>
					<option>高雄市</option>
				</select>
				<select class="form-control">
					<option>區</option>
					<option>新店區</option>
					<option>永和區</option>
					<option>新莊區</option>
					<option>三重區</option>
					<option>板橋區</option>
				</select>
				<select class="form-control">
					<option>里</option>
					<option>中正里</option>
					<option>三民里</option>
					<option>頂溪里</option>
					<option>七張里</option>
					<option>永安里</option>
				</select>
				<input type="text" class="form-control" placeholder="地址">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">子女數量</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="">
				<label class="form-control-static">子</label>
				<input type="text" class="form-control" placeholder="">
				<label class="form-control-static">女</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">身高</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="">
				<label class="form-control-static">公分</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">體重</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="">
				<label class="form-control-static">公斤</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">駕照</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="DLicenseRadios" checked="">無</label>
				<label class="radio-inline"><input type="radio" value="" name="DLicenseRadios">有</label>
				<input type="text" class="form-control" placeholder="">
				<label class="form-control-static">車</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">投入狀況</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="JobTypeRadio" checked="">兼職</label>
				<label class="radio-inline"><input type="radio" value="" name="JobTypeRadio">全職</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">身份別（一）</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="IDRadios" checked="">非原住民</label>
				<label class="radio-inline"><input type="radio" value="" name="IDRadios">原住民</label>
				<input type="text" class="form-control" placeholder="">
				<label class="form-control-static">族</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">身份別（二）</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="" checked="">非中高齡</label>
				<label class="radio-inline"><input type="radio" value="" name="">中高齡</label>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">領取身心障礙手冊</label>
			<div class="col-md-10">
				<label class="radio-inline"><input type="radio" value="" name="aa" checked="">無</label>
				<label class="radio-inline"><input type="radio" value="" name="aa" class="fm-ctrl" data-show-id="ctr_check" >有</label>
			</div>
		</div>
		<div id="ctr_check" class="hiddenbox">
			<div class="form-group form-inline">
				<label class="col-md-2 control-label">障別</label>
				<div class="col-md-10">
					<input type="text" class="form-control" placeholder="">
				</div>
			</div>
			<div class="form-group form-inline">
				<label class="col-md-2 control-label">障別等級</label>
				<div class="col-md-10">
					<label class="radio-inline"><input type="radio" value="" name="b">輕度</label>
					<label class="radio-inline"><input type="radio" value="" name="b">中度</label>
					<label class="radio-inline"><input type="radio" value="" name="b">重度</label>
				</div>
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">到職日期</label>
			<div class="col-md-10">
				<input type="text" class="form-control datepicker" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">開始服務日期</label>
			<div class="col-md-10">
				<input type="text" class="form-control datepicker" placeholder="">
			</div>
		</div>
		<div class="form-group form-inline">
			<label class="col-md-2 control-label">所屬督導員</label>
			<div class="col-md-10">
				<div class="radio">
					<label>
						<input type="checkbox" value=""> 全選</label>
					</div>
					<br>
					<% 4.times do %>
					<% 5.times do %>
						<label class="checkbox-inline">
							<input type="checkbox" value="">張某某</label>
					<% end %>
					<br>
					<% end %>
					</div>
				</div>
				<div class="form-group form-inline">
					<label class="col-md-2 control-label">可服務時間</label>
					<div class="col-md-10">
						<label class="checkbox-inline"><input type="checkbox" value="">一</label>
						<label class="form-control-static">開始時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label class="form-control-static">結束時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<br>
						<label class="checkbox-inline"><input type="checkbox" value="">二</label>
						<label class="form-control-static">開始時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label class="form-control-static">結束時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<br>
						<label class="checkbox-inline"><input type="checkbox" value="">三</label>
						<label class="form-control-static">開始時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label class="form-control-static">結束時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<br>
						<label class="checkbox-inline"><input type="checkbox" value="">四</label>
						<label class="form-control-static">開始時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label class="form-control-static">結束時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<br>
						<label class="checkbox-inline"><input type="checkbox" value="">五</label>
						<label class="form-control-static">開始時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label class="form-control-static">結束時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<br>
						<label class="checkbox-inline"><input type="checkbox" value="">六</label>
						<label class="form-control-static">開始時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label class="form-control-static">結束時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<br>
						<label class="checkbox-inline"><input type="checkbox" value="">日</label>
						<label class="form-control-static">開始時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label class="form-control-static">結束時間</label>
						<div class='input-group inline-block timepicker'>
							<input type='text' class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<br>
					</div>
				</div>
				<div class="form-group form-inline">
					<label class="col-md-2 control-label">人事資料表</label>
					<div class="col-md-10">
						<input type="file" href="javascript:;">
					</div>
				</div>
			</div>
		</form>