<div class="row top-buffer">
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號</a>
</div>

<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>照片</th>
				<th>帳號 Email</th>
				<th>姓名</th>
				<th>聯繫電話</th>
				<th>隸屬主管</th>
				<th>所屬服務員</th>
				<th>服務個案</th>
				<th>身分別(一)</th>
				<th>身分別(二)</th>
				<th>QRCode</th>
				<th>編輯</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img alt="64" class="img-circle" src="http://placehold.it/64"></td>
				<td>email@email.email</td>
				<td>王比利</td>
				<td>0999-999-999</td>
				<td>馬某某</td>
				<td>陳某某</td>
				<td>一般民眾</td>
				<td>非中高齡</td>
				<td>啟用</td>
				<td><img alt="64" class="img-responsive" src="http://placehold.it/64"></td>
				<td><a href="#"><i class="fa fa-pencil-square-o fa-3x"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>