<div class="row top-buffer">
	<div class="col-md-2 text-left">
		<select class="form-control">
			<option>全部訊息</option>
			<option>服務行程</option>
			<option>耗材申請</option>
			<option>家訪電訪</option>
			<option>繳費提醒</option>
		</select>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-6 text-right">
		<label class="control-label">顯示區間</label>
		<label class="radio-inline">
			<input type="radio" value="" name="vrange" checked="">一個月
		</label>
		<label class="radio-inline">
			<input type="radio" value="" name="vrange">三個月
		</label>
		<label class="radio-inline">
			<input type="radio" value="" name="vrange">半年
		</label>
		<label class="radio-inline">
			<input type="radio" value="" name="vrange">全部
		</label>
	</div>
</div>
<hr>
<div class="row">
	<div class="form-group col-md-12">
		<h4>服務行程</h4>
		<ul>
			<li class="setting_item">
				<div class="col-md-8">5/22 10：05 {個案姓名} (督導員：{督導員姓名})(居服員：{居服員姓名})</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">5/22 11：35 王奶奶 (督導員：李大仁)(居服員：陳小明)</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">5/22 11：35 {會議標題}</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">4/20 11：35 服務取消－張奶奶 (居：張小明) - {個案姓名} (督導員：{督導員姓名})(居服員姓名})</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
		</ul>
		<h4 class="top-buffer">耗材申請</h4>
		<ul>
			<li class="setting_item">
				<div class="col-md-8">
					<div>{申請者身分}{申請者姓名} 提出耗材申請</div>
					<div>{耗材項目 x 數量}</div>
					<div>{耗材項目 x 數量}</div>
				</div>
				<div class="col-md-4 text-right">2015-05-22 14：30</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">
					<div>居服員 李柏偉 提出耗材申請</div>
					<div>口罩 x 1</div>
					<div>手套 x 20 <span class="text-danger">(數量不足)</span></div>
					<div>毛巾 x 10</div>
				</div>
				<div class="col-md-4 text-right">2015-05-22 14：30</div>
			</li>
		</ul>
		<h4 class="top-buffer">家訪電訪</h4>
		<ul>
			<li class="setting_item">
				<div class="col-md-8">2015 上半年服務滿意度調查</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
		</ul>
		<h4 class="top-buffer">繳費提醒</h4>
		<ul>
			<li class="setting_item">
				<div class="col-md-8">您尚有一筆費用未繳納 - 104年2月份居家照顧服務費</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
		</ul>
	</div>
</div>
