<div class="row text-center top-buffer">
    <div class="col-md-3">
        <a class="btn btn btn-default duck_gap" href="javascript:;"><img src="images/system_icon_1.png"><br>案號原則</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default duck_gap" href="javascript:;"><img src="images/system_icon_2.png"><br>假日設定</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default duck_gap" href="javascript:;"><img src="images/system_icon_3.png"><br>服務項目</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default duck_gap" href="javascript:;"><img src="images/system_icon_4.png"><br>繳費方式</a>
    </div>
</div>
<div class="row text-center top-buffer">
    <div class="col-md-3">
        <a class="btn btn btn-default duck_gap" href="javascript:;"><img src="images/system_icon_5.png"><br>結案原因</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default duck_gap" href="javascript:;"><img src="images/system_icon_6.png"><br>居旅費用</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default duck_gap" href="javascript:;"><img src="images/system_icon_7.png"><br>服務未遇</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default duck_gap" href="javascript:;"><img src="images/system_icon_8.png"><br>單位Logo</a>
    </div>
</div>