<div class="row text-center top-buffer">
    <div class="col-md-3">
        <a class="btn btn btn-default" href="javascript:;">案號原則</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default" href="javascript:;">假日設定</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default" href="javascript:;">服務項目</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default" href="javascript:;">繳費方式</a>
    </div>
</div>
<div class="row text-center top-buffer">
    <div class="col-md-3">
        <a class="btn btn btn-default" href="javascript:;">結案原因</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default" href="javascript:;">居旅費用</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default" href="javascript:;">服務未遇</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn btn-default" href="javascript:;">單位Logo</a>
    </div>
</div>