<div class="row top-buffer">
    <div class="col-md-6 text-left">
        <ol class="breadcrumb">
            <li>
                <a href="#">系統設定</a>
            </li>
            <li class="active">單位 Logo</li>
        </ol>
    </div>
    <div class="col-md-6 text-right">
        <input class="btn btn-default" type="button" value="取消">
        <input class="btn btn-default" type="submit" value="儲存">
    </div>
</div>
<div class="row">
    <form class="col-md-8 col-md-offset-2">
        <img alt="" class="img-responsive img-thumbnail" src="http://placehold.it/200">
        <br>
        <br>
        <label>變更圖片</label></p>
        檔案格式：jpg, jpeg, png</p>
        檔案大小：109 kb</p>
        <input type="file" href="javascript:;">
<!--         <div class="col-md-4">
            <img alt="" class="img-responsive" src="http://placehold.it/150/3d85cc/ffffff">
        </div>
        <div class="col-md-8">
            <p>檔案格式：jpg, jpeg, png</p>
            <p>檔案大小：109 kb</p>
            <a href="">變更圖片</a>
        </div> -->
    </form>
</div>
