<div class="row top-buffer">
    <div class="col-md-6 text-left">
        <ol class="breadcrumb">
            <li>
                <a href="#">系統設定</a>
            </li>
            <li class="active">訊息發送</li>
        </ol>
    </div>
    <div class="col-md-6 text-right">
        <input class="btn btn-default" type="button" value="取消">
        <input class="btn btn-default" type="submit" value="儲存">
    </div>
</div>
<div class="row">
    <form class="form-horizontal col-md-8 col-md-offset-2">
        <div class="form-group">
            <label>收費訊息發送時間</label>
        </div>
        <div class="form-group form-inline">
            <label> 每月 <input type="text" class="form-control"> 日發送</label>
        </div>
    </form>
</div>
