<div class="row top-buffer">
    <div class="col-md-3 text-left">
        <ol class="breadcrumb">
            <li>
                <a href="#">系統設定</a>
            </li>
            <li class="active">居旅費用</li>
        </ol>
    </div>
    <div class="col-md-3 col-md-offset-6 text-right">
        <input class="btn btn-default" type="button" value="取消">
        <input class="btn btn-default" type="submit" value="送出">
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h3>工時與薪資設定</h3>
    </div>
</div>
<form>
    <table class="table">
        <caption>table title and/or explanatory text</caption>
        <thead>
            <tr>
                <th>基本工時</th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>data</td><td>data</td>
            </tr>
            <tr>
                <td>data</td><td>data</td>
            </tr>
        </tbody>
    </table>
    <div class="row top-buffer form-inline">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="">時間</label>
                <input type="date" class="form-control" id="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="">工時</label>
                 <input type="text" class="form-control" id="" placeholder="系統帶預設值">
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-default">調整</button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-3">
            yyyy/mm/dd
        </div>
        <div class="col-md-3">
            999
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
    <!-- <div class="row top-buffer form-inline">
        <h4>基本工時</h4>
        <div class="form-group">
            <label for=""> 時間 </label>
            <input type="date" class="form-control" id="">
        </div>
        <div class="form-group">
            <label for=""> 工時 </label>
             <input type="text" class="form-control" id="" placeholder="系統帶預設值">
        </div>
        <button type="submit" class="btn btn-default"> 調整 </button>
    </div> -->

</form>

<!-- <div class="row top-buffer">
    <h4>基本工資</h3>
    <div class="clearfix"></div>


    <div class="col-md-3">
        <form role="form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control">
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form role="form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" value="500">
            </div>
        </form>
    </div>
    <div class="row"></div>
    <div class="col-md-12 text-right">
        <hr>
    </div>
    <div class="row"></div>
    <div class="col-md-12 text-center">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td></td>
                    <td>2015-04-28</td>
                    <th>+ 20</th>
                </tr>
                <tr>
                    <td></td>
                    <td>2015-08-28</td>
                    <th>+ 80</th>
                </tr>
                <tr>
                    <td></td>
                    <td>2015-09-28</td>
                    <th>+ 450</th>
                </tr>
                <tr>
                    <td></td>
                    <td>2015-02-28</td>
                    <th>+ 80</th>
                </tr>
            </tbody>
        </table>
    </div>
    <a class="text-right">
    </a>
    <a class="text-right">
    </a>
    
    <a class="text-right">
        <div class="col-md-3">
            <h4>
            服務工資
            </h4>
        </div>
        <div class="col-md-3">
            <form role="form">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control">
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form role="form">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" value="500">
                </div>
            </form>
        </div>
        <div class="row"></div>
        <div class="col-md-12 text-right">
            <hr>
        </div>
        <div class="row"></div>
    </a>
    <div class="col-md-12 text-center">
        <a class="text-right">
        </a>
        <a class="text-right"></a>
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td></td>
                    <td>2015-04-28</td>
                    <th>+ 20</th>
                </tr>
                <tr>
                    <td></td>
                    <td>2015-08-28</td>
                    <th>+ 80</th>
                </tr>
                <tr>
                    <td></td>
                    <td>2015-09-28</td>
                    <th>+ 450</th>
                </tr>
                <tr>
                    <td></td>
                    <td>2015-02-28</td>
                    <th>+ 80</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section"></div>
    <div class="col-md-12"></div> -->
</div>