<div class="row top-buffer">
    <div class="col-md-6 text-left">
        <ol class="breadcrumb">
            <li>
                <a href="#">系統設定</a>
            </li>
            <li class="active">訊息發送</li>
        </ol>
    </div>
    <div class="col-md-6 text-right">
        <input class="btn btn-default" type="button" value="取消">
        <input class="btn btn-default" type="submit" value="儲存">
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h3>收費訊息發送</h3>
            </div>
        </div>
        <hr>
        <form class="form-inline">
            <div class="form-group">
                <label for=""> 每月 <input type="text" class="form-control" id="" placeholder=""> 日發送</label>
            </div>
        </form>
    </div>
</div>
