
<div class="row top-buffer">
	<div class="col-md-6 text-left">
		<ol class="breadcrumb">
			<li>
				<a href="#">新增帳號</a>
			</li>
			<li class="active">服務員</li>
		</ol>
	</div>
	<div class="col-md-6 text-right">
		<input class="btn btn-default" type="button" value="取消">
		<input class="btn btn-default" type="submit" value="送出">
	</div>
</div>
<div class="row top-buffer">
	<form class="col-md-4 col-md-offset-2 form-horizontal">
		<div class="col-md-12 form-group text-center">
			<img alt="200x200" class="img-responsive img-thumbnail" src="http://placehold.it/200/">
			<p class="help-block">請選擇欲上傳的相片
				<br>
				<input type="file">
			</p>
		</div>
	</form>
	<form class="form-horizontal col-md-4">
		<div class="form-group">
			<label class="col-md-4 control-label">啟用狀態</label>
			<div class="col-md-8">
				<label class="radio-inline">
					<input type="radio" value="">啟用</label>
				<label class="radio-inline">
					<input type="radio" value="">停用</label>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-md-4 control-label">Email</label>
			<div class="col-md-8">
				<input type="email" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-md-4 control-label">密碼</label>
			<div class="col-md-8">
				<input type="password" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-md-4 control-label">姓名</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-md-4 control-label">行動電話</label>
			<div class="col-md-8">
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-md-4 control-label">住宅電話</label>
			<div class="col-md-8">
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
	</form>
</div>
<!--分隔線，可依最後視覺斟酌刪除-->
<div style="width:100; height:1px; margin:0px auto; padding:0px; background-color:#D5D5D5; overflow:hidden;"></div>
<div class="row">
	<form class="form-horizontal col-md-12">
		<div class="form-group">
			<label class="col-md-2 control-label">性別</label>
			<div class="col-md-10">
				<label class="radio-inline">
					<input type="radio" value="">男性</label>
				<label class="radio-inline">
					<input type="radio" value="">女性</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">性別</label>
			<div class="col-md-10">
				<label class="checkbox-inline">
					<input type="checkbox" value="">道教</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">佛教</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">基督教</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">天主教</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">一貫道</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">其他</label>
				<label class="checkbox-inline">
					<input type="text" class="form-control" placeholder="">
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">籍貫</label>
			<div class="col-md-4">
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">出生年月日</label>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="民國">
					</div>
					<div class="col-md-1">年</div>
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-1">月</div>
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-1">日</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">年齡</label>
			<div class="col-md-2">
				<input type="text" placeholder="系統自動計算" disabled="" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">身份證字號</label>
			<div class="col-md-4">
				<input type="text" class="form-control" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">婚姻狀況</label>
			<div class="col-md-2">
				<select class="form-control">
					<option>已婚</option>
					<option>未婚</option>
					<option>喪偶</option>
					<option>離婚</option>
					<option>分居</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">子女數量</label>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-1">子</div>
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-1">女</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">身高</label>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-2">公分</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">體重</label>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-2">公斤</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">駕照</label>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-1">
						<label class="radio-inline">
							<input type="radio" value="">有</label>
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-1">車</div>
					<div class="col-md-1">
						<label class="radio-inline">
							<input type="radio" value="">無</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">教育程度</label>
			<div class="col-md-10">
				<label class="radio-inline">
					<input type="radio" value="">不識字</label>
				<label class="radio-inline">
					<input type="radio" value="">識字未就學</label>
				<label class="radio-inline">
					<input type="radio" value="">特教-國小</label>
				<label class="radio-inline">
					<input type="radio" value="">特教-國中</label>
				<label class="radio-inline">
					<input type="radio" value="">特教-高中</label>
				<label class="radio-inline">
					<input type="radio" value="">國小</label>
				<label class="radio-inline">
					<input type="radio" value="">國中</label>
				<label class="radio-inline">
					<input type="radio" value="">高中</label>
				<label class="radio-inline">
					<input type="radio" value="">大專</label>
				<label class="radio-inline">
					<input type="radio" value="">研究所以上</label>
				<label class="radio-inline">
					<input type="radio" value="">其他</label>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group">
				<label class="col-md-2 control-label">緊急聯絡人</label>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-1">姓名</div>
						<div class="col-md-3">
							<input type="text" class="form-control" placeholder="">
						</div>
						<div class="col-md-1">關係</div>
						<div class="col-md-3">
							<input type="text" class="form-control" placeholder="">
						</div>
						<div class="col-md-1">電話</div>
						<div class="col-md-3">
							<input type="text" class="form-control" placeholder="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
