<div class="row top-buffer">
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號</a>
</div>

<div class="row top-buffer">
	<table class="table table-bordered table-hover table-striped align-middle-table">
		<thead>
			<tr>
				<th>照片</th>
				<th>帳號</th>
				<th>姓名</th>
				<th>Email</th>
				<th>聯絡電話</th>
				<th>啟用狀態</th>
				<th>QRCode</th>
				<th>編輯</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<img alt="64" class="img-circle" src="http://placehold.it/64">
				</td>
				<td>
					<a href="#">bill0705</a>
				</td>
				<td>王比利</td>
				<td>bill0705@tw.shuttle.com/</td>
				<td>0978329903</td>
				<td>啟用</td>
				<td>
					<img alt="64" class="img-responsive" src="http://placehold.it/64">
				</td>
				<td>
					<a href="#"><i class="fa fa-pencil-square-o fa-3x"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

