<div class="row top-buffer">
	<a class="btn btn-primary">新增帳號</a>
</div>
<div class="row top-buffer">
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th>照片</th>
				<th>帳號</th>
				<th>姓名</th>
				<th>Email</th>
				<th>聯絡電話</th>
				<th>啟用狀態</th>
				<th>QRCode</th>
				<th>編輯</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<img alt="64" class="img-circle img-responsive" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
				<td>
					<a href="#">bill0705</a>
				</td>
				<td>王比利</td>
				<td>bill0705@tw.shuttle.com/</td>
				<td>0978329903</td>
				<td>啟用</td>
				<td>
					<img alt="64" class="img-responsive img-rounded" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
				<td>
					<img alt="64" class="img-responsive img-rounded" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
			</tr>
			<tr>
				<td>
					<img alt="64" class="img-circle img-responsive" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
				<td>
					<a href="#">marrt0702</a>
				</td>
				<td>張蕾蕾</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td>啟用</td>
				<td>
					<img alt="64" class="img-responsive img-rounded" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
				<td>
					<img alt="64" class="img-responsive img-rounded" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
			</tr>
			<tr>
				<td>
					<img alt="64" class="img-circle img-responsive" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
				<td>
					<a href="#">matt0504</a>
				</td>
				<td>陳大同</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>啟用</td>
				<td>
					<img alt="64" class="img-responsive img-rounded" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
				<td>
					<img alt="64" class="img-responsive img-rounded" src="http://placehold.it/64/3d85cc/ffffff">
				</td>
			</tr>
		</tbody>
	</table>
</div>

