script src='js/vendor/jquery.min.js'
script src='js/lib/moment.min.js'
script src='js/vendor/fancybox/jquery.fancybox.js'
script src='js/lib/fullcalendar.min.js'
script src='js/lib/lang-all.js'
script src='js/lib/events.js'
script src='js/lib/script.js'