/ = javascript_include_tag \
/ 	"//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", \
/ 	"all"

/ devPath
script src="js/vendor/jquery/jquery.min.js" type="text/javascript"
script src="js/vendor/bootstrap/js/bootstrap.min" type="text/javascript"
script src='js/vendor/jquery.validation/jquery.validate.min.js' type='text/javascript'
script src='js/vendor/jquery.validation/additional-methods.min.js' type='text/javascript'
script src='js/js.js' type='text/javascript'
