/ = javascript_include_tag \
/ 	"//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", \
/ 	"all"

/ devPath
script src='js/vendor/jquery/jquery.min.js'
script src='js/lib/moment.min.js'
script src='js/vendor/bootstrap/js/bootstrap.min.js'
script src='js/vendor/bootstrap-datepicker/bootstrap-datepicker.js'
script src="js/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.js"
script src="js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"
script src='js/vendor/jquery.validation/jquery.validate.min.js'
script src='js/vendor/jquery.validation/additional-methods.min.js'

/ script src='js/lib/jquery.min.js'
script src='js/vendor/fancybox/jquery.fancybox.js'
script src='js/lib/fullcalendar.min.js'
script src='js/lib/lang-all.js'
script src='js/lib/events.js'
script src='js/lib/script.js'
script src='js/js.js'