/ <ul class="nav nav-tabs">
/ 		<li class="active">
/ 			<a href="#">個案成果</a>
/ 		</li>
/ 		<li>
/ 			<a href="#">投入成果</a>
/ 		</li>
/ 		<li>
/ 			<a href="#">收入區別</a>
/ 		</li>
/ 		<li>
/ 			<a href="#">障礙等級</a>
/ 		</li>
/ 	</ul>

ul.nav.nav-tabs
	= nav_link_to("javascript:;", "個案成果")
	= nav_link_to("javascript:;", "投入成果")
	= nav_link_to("javascript:;", "收入區別")
	= nav_link_to("javascript:;", "障礙等級")


		