<div div class="modal fade" id="ModalCaseDirect" tabindex="-1" role="dialog" aria-labelledby="ModalNeverMetLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">個案查詢</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-2">雙連案號</label>
                    <div class="col-md-10">SL12345678</div>
                </div>
                <div class="row">
                    <label class="col-md-2">長照案號</label>
                    <div class="col-md-10">WXJW44498</div>
                </div>
                <div class="row">
                    <label class="col-md-2">個案姓名</label>
                    <div class="col-md-10">陳奶奶</div>
                </div>
                <div class="row">
                    <label class="col-md-2">個案姓別</label>
                    <div class="col-md-10">女</div>
                </div>
                <div class="row">
                    <label class="col-md-2">個案年齡</label>
                    <div class="col-md-10">66</div>
                </div>
                <div class="row">
                    <label class="col-md-2">現居地址</label>
                    <div class="col-md-10">台北市松山區民生東路三段888巷888弄888號 B棟8樓, 88室</div>
                </div>
                <div class="row">
                    <label class="col-md-2">身份別 1</label>
                    <div class="col-md-10">2.中低2.5倍</div>
                </div>
                <div class="row">
                    <label class="col-md-2">身份別 2</label>
                    <div class="col-md-10">5.榮民、榮眷</div>
                </div>
                <div class="row">
                    <label class="col-md-2">身份別 3</label>
                    <div class="col-md-10">長十</div>
                </div>
                <div class="row">
                    <label class="col-md-2">障礙手冊</label>
                    <div class="col-md-10">有</div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default">結束個案</a>
                    <a class="btn btn-default">暫停個案</a>
                </div>
            </div>
        </div>
    </div>
</div>
