<div div class="modal fade" id="ModalNeverMet" tabindex="-1" role="dialog" aria-labelledby="ModalNeverMetLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">服務未遇備註</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-2">長照案號</label>
                    <div class="col-md-10">SL12345678</div>
                </div>
                <div class="row">
                    <label class="col-md-2">個案姓名</label>
                    <div class="col-md-10">王爺爺</div>
                </div>
                <div class="row">
                    <label class="col-md-2">個案電話</label>
                    <div class="col-md-10">0912345678</div>
                </div>
                <div class="row">
                    <label class="col-md-2">緊急聯絡</label>
                    <div class="col-md-10">王先生</div>
                </div>
                <div class="row">
                    <label class="col-md-2">聯絡電話</label>
                    <div class="col-md-10">0988888888</div>
                </div>
                <div class="row">
                    <label class="col-md-2">居服人員</label>
                    <div class="col-md-10">陳小明</div>
                </div>
                <div class="row">
                    <label class="col-md-2">事件狀態</label>
                    <div class="col-md-10">個案不受服務</div>
                </div>
                <div class="row">
                    <label class="col-md-2">自付金額</label>
                    <div class="col-md-10">0</div>
                </div>
                <div class="row">
                    <label class="col-md-2">補助金額</label>
                    <div class="col-md-10">200</div>
                </div>
                <div class="row">
                    <label class="col-md-2">結論備註</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3">第一次發生服務未遇，案家不用收錢，但是安養中心需支付交通費30元給居服員。</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                    <div class="col-md-6 text-left">
                        <a class="btn btn-default">刪除備註</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-primary">確定</a>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-6 text-left">請問是否刪除備註?</div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-default">取消</a>
                        <a class="btn btn-primary">刪除</a>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

