
<div class="row">
    <div class="col-md-6 text-left">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">居家服務</a>
            </li>
            <li>
                <a href="#">會議職訓</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 text-right">
        <button type="submit" class="btn btn-default">新增個案備註</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 text-left">
        <form class="form-inline" role="form">
            <div class="form-group col-md-12">查詢條件
                <input type="text" class="form-control" placeholder="請輸入長照案號, 個案或居服員姓名">備註類型
                <select class="form-control">
                    <option>全部類型</option>
                    <option>服務未遇</option>
                    <option>居家服務</option>
                    <option>個案標註</option>
                </select>
            </div>
        </form>
        <br>
        <br>
        <form class="form-inline" role="form">
            <div class="form-group col-md-12">日期區間
                <input type="date" class="form-control" placeholder="">~
                <input type="date" class="form-control" placeholder="">查詢區別
                <select class="form-control">
                    <option>全部地區</option>
                    <option>松山</option>
                    <option>信義</option>
                    <option>文山</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-2 text-left">
        <button class="btn btn-default">查詢</button>
    </div>
    <div class="col-md-2 text-right">
        <button type="submit" class="btn btn-default ">匯出 excel</button>
    </div>
</div>
<br>
<div class="row col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>序號</th>
                <th>雙連案號</th>
                <th>長照案號</th>
                <th>照護者</th>
                <th>服務時間</th>
                <th>居服員</th>
                <th>服務項目</th>
                <th>服務未遇備註</th>
                <th>居家服務備註</th>
                <th>個案備註</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>SL12345678</td>
                <td>WXJW44498</td>
                <td>張爺爺</td>
                <td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
                <td>王小明</td>
                <td>整理家務 / 帶出門看醫生 / 陪聊天散步 / 買菜煮飯打掃 / 洗澡</td>
                <td>2014-04-17 08:50 個案不受服務</td>
                <td></td>
                <td>2014-04-17 08:50 案子告知個案送醫治療，醫生提醒血壓偏高，需特別注意</td>
            </tr>
            <tr>
                <td>01</td>
                <td>SL12345678</td>
                <td>WXJW44498</td>
                <td>張爺爺</td>
                <td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
                <td>王小明</td>
                <td>整理家務 / 帶出門看醫生 / 陪聊天散步 / 買菜煮飯打掃 / 洗澡</td>
                <td>2014-04-17 08:50 個案不受服務</td>
                <td></td>
                <td>2014-04-17 08:50 案子告知個案送醫治療，醫生提醒血壓偏高，需特別注意</td>
            </tr>
            <tr>
                <td>01</td>
                <td>SL12345678</td>
                <td>WXJW44498</td>
                <td>張爺爺</td>
                <td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
                <td>王小明</td>
                <td>整理家務 / 帶出門看醫生 / 陪聊天散步 / 買菜煮飯打掃 / 洗澡</td>
                <td>2014-04-17 08:50 個案不受服務</td>
                <td></td>
                <td>2014-04-17 08:50 案子告知個案送醫治療，醫生提醒血壓偏高，需特別注意</td>
            </tr>
        </tbody>
    </table>
</div>
