
<div class="row">
    <div class="col-md-6 text-left">
        <ul class="nav nav-tabs">
            <li>
                <a href="#">居家服務</a>
            </li>
            <li class="active">
                <a href="#">會議職訓</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 text-right">
        <div>
            <button type="submit" class="btn btn-default">新增個案備註</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 text-left">
        <form class="form-inline" role="form">
            <div class="form-group col-md-12">查詢條件
                <input type="text" class="form-control" placeholder="請輸入會議或職訓名稱">
            </div>
        </form>
        <br>
        <br>
        <form class="form-inline" role="form">
            <div class="form-group col-md-12">日期區間
                <input type="date" class="form-control" placeholder="">~
                <input type="date" class="form-control" placeholder="">查詢區別
                <select class="form-control">
                    <option>全部地區</option>
                    <option>松山</option>
                    <option>信義</option>
                    <option>文山</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-2 text-left">
        <button class="btn btn-default">查詢</button>
    </div>
    <div class="col-md-2 text-right">
        <button class="btn btn-default " type="submit">匯出 excel</button>
    </div>
</div>
<br>
<div class="row col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>序號</th>
                <th>事件主題</th>
                <th>事件議題</th>
                <th>地點</th>
                <th>日期</th>
                <th>參與事件人員</th>
                <th>其它備註</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>1月份職訓</td>
                <td>事件議題</td>
                <td>三樓會議室</td>
                <td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
                <td>單位主管 / 單位主管 / 單位主管 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 /
                    督導人員 / 督導人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員
                    / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 /
                    服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員</td>
                <td>-</td>
            </tr>
            <tr>
                <td>01</td>
                <td>1月份職訓</td>
                <td>事件議題</td>
                <td>三樓會議室</td>
                <td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
                <td>單位主管 / 單位主管 / 單位主管 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 /
                    督導人員 / 督導人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員
                    / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 /
                    服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員</td>
                <td>-</td>
            </tr>
            <tr>
                <td>01</td>
                <td>1月份職訓</td>
                <td>事件議題</td>
                <td>三樓會議室</td>
                <td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
                <td>單位主管 / 單位主管 / 單位主管 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 /
                    督導人員 / 督導人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員
                    / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 /
                    服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>
