<div class="row top-buffer">

	<form class="form-horizontal well clearfix" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2 text-right">
					<lable class="form-control-static">查詢條件</lable>
				</div>
				<div class="col-md-6 text-right">
					<input type="text" class="form-control" placeholder="請輸入會議或職訓名稱">
				</div>
				
			</div>
			<div class="form-group">
				<div class="col-md-2 text-right">
					<p class="form-control-static">日期區間</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder="">
						</div>
						<div class="col-md-2">~</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder="">
						</div>
					</div>
				</div>
				<div class="col-md-2 text-right">
					<p class="form-control-static">查詢區別</p>
				</div>
				<div class="col-md-2">
					<select class="form-control">
						<option>全部地區</option>
						<option>信義</option>
						<option>大安</option>
						<option>文山</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default">查詢
			<i class="fa fa-search fa-fw"></i>
			</button>
		</div>
		<div class="col-md-2 text-right">
			<button class="btn btn-primary">
			<i class="fa fa-fw fa-table"></i> 匯出 excel</button>
		</div>
	</form>
</div>

<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>序號</th>
				<th>事件主題</th>
				<th>事件議題</th>
				<th>地點</th>
				<th>日期</th>
				<th>參與事件人員</th>
				<th>其它備註</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>01</td>
				<td>1月份職訓</td>
				<td>事件議題</td>
				<td>三樓會議室</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>單位主管 / 單位主管 / 單位主管 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 /
					督導人員 / 督導人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員
					/ 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 /
					服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員</td>
				<td>-</td>
			</tr>
			<tr>
				<td>01</td>
				<td>1月份職訓</td>
				<td>事件議題</td>
				<td>三樓會議室</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>單位主管 / 單位主管 / 單位主管 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 /
					督導人員 / 督導人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員
					/ 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 /
					服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員</td>
				<td>-</td>
			</tr>
			<tr>
				<td>01</td>
				<td>1月份職訓</td>
				<td>事件議題</td>
				<td>三樓會議室</td>
				<td>2014-04-17 08:50 ~ 2014-04-17 10:55</td>
				<td>單位主管 / 單位主管 / 單位主管 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 / 督導人員 /
					督導人員 / 督導人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員
					/ 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 /
					服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員 / 服務人員</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
