
<div class="bs-example-modal">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增個案備註</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-2">個案姓名</label>
                        <div class="col-md-10">
                            <div class="btn-group">
                                <select>
                                    <option>林爺爺</option>
                                    <option>林爺爺</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">長照案號</label>
                        <div class="col-md-10">雙0066</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">個案姓別</label>
                        <div class="col-md-10">男</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">個案年齡</label>
                        <div class="col-md-10">66</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">現居地區</label>
                        <div class="col-md-10">中和</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">備註內容</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6 text-left">&nbsp;</div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-primary">確定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
