
		<div class="modal-header">
			<h4 class="modal-title">個案查詢</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<label class="col-md-2">個人相片</label>
				<div class="col-md-10"><img alt="64" class="img-circle" src="http://placehold.it/64"></div>
			</div>
			<div class="row">
				<label class="col-md-2">帳號 Email</label>
				<div class="col-md-10">email@tw.shuttle.com</div>
			</div>
			<div class="row">
				<label class="col-md-2">案號</label>
				<div class="col-md-10">123456789</div>
			</div>
			<div class="row">
				<label class="col-md-2">長照案號</label>
				<div class="col-md-10">123456789</div>
			</div>
			<div class="row">
				<label class="col-md-2">姓名</label>
				<div class="col-md-10">王比利</div>
			</div>
			<div class="row">
				<label class="col-md-2">督導員</label>
				<div class="col-md-10">歐區欠</div>
			</div>
			<div class="row">
				<label class="col-md-2">手機電話</label>
				<div class="col-md-10">0900-000-000</div>
			</div>
			<div class="row">
				<label class="col-md-2">市內電話</label>
				<div class="col-md-10">02-0000-0000</div>
			</div>
			<div class="row">
				<label class="col-md-2">緊急聯絡人</label>
				<div class="col-md-10">王瑪莉</div>
			</div>
			<div class="row">
				<label class="col-md-2">出生年月日</label>
				<div class="col-md-10">yyyy/mm/dd</div>
			</div>
			<div class="row">
				<label class="col-md-2">年齡</label>
				<div class="col-md-10">99</div>
			</div>
			<div class="row">
				<label class="col-md-2">身分證字號</label>
				<div class="col-md-10">A123456789</div>
			</div>
			<div class="row">
				<label class="col-md-2">籍貫</label>
				<div class="col-md-10">福建省</div>
			</div>
			<div class="row">
				<label class="col-md-2">稱謂</label>
				<div class="col-md-10">爺爺</div>
			</div>
			<div class="row">
				<label class="col-md-2">性別</label>
				<div class="col-md-10">男性</div>
			</div>
			<div class="row">
				<label class="col-md-2">信仰</label>
				<div class="col-md-10">道教</div>
			</div>
			<div class="row">
				<label class="col-md-2">婚姻狀況</label>
				<div class="col-md-10">已婚</div>
			</div>
			<div class="row">
				<label class="col-md-2">教育程度</label>
				<div class="col-md-10">小學</div>
			</div>
			<div class="row">
				<label class="col-md-2">居住地址</label>
				<div class="col-md-10">台北市信義區信義路五段7號</div>
			</div>
			<div class="row">
				<label class="col-md-2">戶籍地址</label>
				<div class="col-md-10">台北市信義區信義路五段7號</div>
			</div>
			<div class="row">
				<label class="col-md-2">職業</label>
				<div class="col-md-10">現：忍者龜<br>昔：下水工</div>
			</div>
			<div class="row">
				<label class="col-md-2">慣用語言</label>
				<div class="col-md-10">國語</div>
			</div>
			<div class="row">
				<label class="col-md-2">身分別(一)</label>
				<div class="col-md-10">一般戶</div>
			</div>
			<div class="row">
				<label class="col-md-2">身分別(二)</label>
				<div class="col-md-10">原住民</div>
			</div>
			<div class="row">
				<label class="col-md-2">身分別(三)</label>
				<div class="col-md-10">老人科</div>
			</div>
			<div class="row">
				<label class="col-md-2">身分別(四)</label>
				<div class="col-md-10">長十</div>
			</div>
			<div class="row">
				<label class="col-md-2">身分別(五)</label>
				<div class="col-md-10">新制</div>
			</div>
			<div class="row">
				<label class="col-md-2">補助類別</label>
				<div class="col-md-10">50歲以上失智、慢性精神病患、智能障礙者及自閉症者</div>
			</div>
			<div class="row">
				<label class="col-md-2">領取身心障礙手冊</label>
				<div class="col-md-10">有</div>
			</div>
			<div class="row">
				<label class="col-md-2">障別</label>
				<div class="col-md-10">智能障礙者</div>
			</div>
			<div class="row">
				<label class="col-md-2">障礙等級</label>
				<div class="col-md-10">重度</div>
			</div>
			<div class="row">
				<label class="col-md-2">失能狀況</label>
				<div class="col-md-10">重度</div>
			</div>
			<div class="row">
				<label class="col-md-2">輔具</label>
				<div class="col-md-10">有</div>
			</div>
			<div class="row">
				<label class="col-md-2">疾病史</label>
				<div class="col-md-10">巴金森氏症</div>
			</div>
			<div class="row">
				<label class="col-md-2">衛生環境</label>
				<div class="col-md-10">異常</div>
			</div>
			<div class="row">
				<label class="col-md-2">居住情形</label>
				<div class="col-md-10">獨居</div>
			</div>
			<div class="row">
				<label class="col-md-2">房屋所有權</label>
				<div class="col-md-10">自有</div>
			</div>
			<div class="row">
				<label class="col-md-2">住宅總類</label>
				<div class="col-md-10">平房</div>
			</div>
			<div class="row">
				<label class="col-md-2">經濟來源</label>
				<div class="col-md-10">子女放養約 5 元/月</div>
			</div>
			<div class="row">
				<label class="col-md-2">社會資源</label>
				<div class="col-md-10">長照中心其他服務___</div>
			</div>
			<div class="row">
				<label class="col-md-2">家系圖</label>
				<div class="col-md-10"><a href="#"><i class="fa fa-file-photo-o fa-2x"></i></a></div>
			</div>
			<div class="row">
				<label class="col-md-2">生態圖</label>
				<div class="col-md-10"><a href="#"><i class="fa fa-file-photo-o fa-2x"></i></a></div>
			</div>
			<div class="row">
				<label class="col-md-2">服務申請人</label>
				<div class="col-md-10">李木子</div>
			</div>
			<div class="row">
				<label class="col-md-2">服務申請緣由</label>
				<div class="col-md-10">無</div>
			</div>
			<div class="row">
				<label class="col-md-2">個案對於需求與問題的看法</label>
				<div class="col-md-10">無</div>
			</div>
			<div class="row">
				<label class="col-md-2">初次需求評估</label>
				<div class="col-md-10">無</div>
			</div>
			<div class="row">
				<label class="col-md-2">初次處遇計畫</label>
				<div class="col-md-10">無</div>
			</div>
			<div class="row">
				<label class="col-md-2">服務需求時數</label>
				<div class="col-md-10">5 小時/月</div>
			</div>
			<div class="row">
				<label class="col-md-2">核定時數</label>
				<div class="col-md-10">5 小時/月</div>
			</div>
			<div class="row">
				<label class="col-md-2">補助比例（政府補助額度）</label>
				<div class="col-md-10">100%</div>
			</div>
			<div class="row">
				<label class="col-md-2">費用</label>
				<div class="col-md-10">每月總價 0 元，政府補助 0 元，自費 0 元</div>
			</div>
			<div class="row">
				<label class="col-md-2">服務項目</label>
				<div class="col-md-10">洗澡</div>
			</div>
			<div class="row">
				<label class="col-md-2">派案日期</label>
				<div class="col-md-10">yyyy/mm/dd</div>
			</div>
			<div class="row">
				<label class="col-md-2">重新鑑定日期</label>
				<div class="col-md-10">yyyy/mm/dd</div>
			</div>
			<div class="row">
				<label class="col-md-2">預定首次服務時間</label>
				<div class="col-md-10">yyyy/mm/dd</div>
			</div>
			<div class="row">
				<label class="col-md-2">服務頻率</label>
				<div class="col-md-10">以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</div>
			</div>
			<div class="row">
				<label class="col-md-2">啟用狀態</label>
				<div class="col-md-10">啟用</div>
			</div>
			<div class="row">
				<label class="col-md-2">QRCode</label>
				<div class="col-md-10"><a href="#"><i class="fa fa-qrcode fa-2x"></i></a></div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-default">結束個案</a>
				<a class="btn btn-default">暫停個案</a>
			</div>
		</div>
