
<div class="bs-example-modal">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">居家服務備註</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-2">任務名稱</label>
                        <div class="col-md-10">張爺爺</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">任務時間</label>
                        <div class="col-md-10">2015-04-17- 08:05
                            <br>2015-04-17- 12:35
                            <br>連續至結案</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">任務項目</label>
                        <div class="col-md-10">整理家務 / 帶出門看醫生 / 陪聊天散步 / 買菜煮飯打掃 / 洗澡</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">居服人員</label>
                        <div class="col-md-10">居服員01</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">督導人員</label>
                        <div class="col-md-10">督導員06</div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">新增備註</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <a class="btn btn-default">刪除備註</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-primary">確定</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left">請問是否刪除備註?</div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-default">取消</a>
                            <a class="btn btn-primary">刪除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
