<div class="row top-buffer form-horizontal well clearfix">
	<form class="form-horizontal" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2">
					<lable class="form-control-static">查詢條件</lable>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="請輸入個案姓名"></div>
			</div>
			<div class="form-group">
				<div class="col-md-2">
					<p class="form-control-static">日期區間</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
						<div class="col-md-2">~</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default">
				查詢 <i class="fa fa-search fa-fw"></i>
			</button>
		</div>
		<div class="col-md-2 text-right">
			<button class="btn btn-primary"> <i class="fa fa-fw fa-table"></i>
				匯出 excel
			</button>
		</div>
	</form>
</div>
<hr>          
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th rowspan="2">序號</th>
				<th rowspan="2">填表日期</th>
				<th rowspan="2">填表名稱</th>
				<th rowspan="7">填表者</th>
				<th rowspan="2">個案姓名</th>
				<th rowspan="2">性別</th>
				<th rowspan="2">年齡</th>
				<th rowspan="2">身份(3)</th>
				<th rowspan="2">失能狀況</th>
				<th rowspan="9">己使用服務時間</th>
				<th colspan="10">對本基金會居家照顧服務之滿意度</th>
				<th rowspan="2">督導備註</th>
			</tr>
			<tr>
				<th>時間安排</th>
				<th>時數安排</th>
				<th>時數不足原因</th>
				<th>是否願意使用自費服務</th>
				<th>居服員的工作態度</th>
				<th>居服員服務專業度</th>
				<th>督導員的服務態度</th>
				<th>督導員的服務專業度</th>
				<th>服務單位的服務滿意度</th>
				<th>意見與建議</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>2015-04-17</td>
				<td>2015上半年滿意度調查</td>
				<td>王先生</td>
				<td>王爺爺</td>
				<td>男</td>
				<td>79</td>
				<td>長十</td>
				<td>極重度</td>
				<td>六個月以內</td>
				<td>非常滿意</td>
				<td>恰當</td>
				<td>無</td>
				<td>願意</td>
				<td>非常滿意</td>
				<td>非常滿意</td>
				<td>非常滿意</td>
				<td>非常滿意</td>
				<td>非常滿意</td>
				<td></td>
				<td contenteditable="true">
					<a href="javascript:;" data-type="textarea" class="editable_textarea editable editable-pre-wrapped editable-click" data-original-title="">無</a>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>2015-04-17</td>
				<td>2015上半年滿意度調查</td>
				<td>未填</td>
				<td>王爺爺</td>
				<td>男</td>
				<td>79</td>
				<td>非長十</td>
				<td>輕度</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td contenteditable="true">
					<a href="javascript:;" data-type="textarea" class="editable_textarea editable editable-pre-wrapped editable-click" data-original-title="">無</a>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>2015-04-17</td>
				<td>2015上半年滿意度調查</td>
				<td>王先生</td>
				<td>王爺爺</td>
				<td>男</td>
				<td>79</td>
				<td>長十</td>
				<td>極重度</td>
				<td>六個月以內</td>
				<td>非常滿意</td>
				<td>恰當</td>
				<td>無</td>
				<td>願意</td>
				<td>非常滿意</td>
				<td>非常滿意</td>
				<td>非常滿意</td>
				<td>非常滿意</td>
				<td>非常滿意</td>
				<td></td>
				<td contenteditable="true">
					<a href="javascript:;" data-type="textarea" class="editable_textarea editable editable-pre-wrapped editable-click" data-original-title="">無</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>