.header {
	height: $header-height;
	@include box-shadow(0 1px 4px rgba(0,0,0,.15));
}
.sidebar {
	position: fixed;
	width: 193px;
	top: $header-height;
	bottom: 0;
	padding-top: 2em;
	left: 0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $parimary;
	border-right: 1px solid #eee;
	a {
		color: #fff;
	}
	i {
		margin-right: 1em;
	}
}
.nav-sidebar {
	li {
		a {
			padding: 20px 15px;
			&:hover {
				background-color: $secondary;
			}
		}
		&.active {
			background-color: #649dd6;
			> a {
				background-color: $secondary;
				@include box-shadow(0 1px 4px rgba(0,0,0,.15));
			}
		}
	}
	&-sub {
		li > a {
			padding: 10px 15px;
		}
	}
}