/* ========================================================================
	 Component: layout.scss
 ========================================================================== */

//
// This file controls the presentation of all components
// Proposed markup
//  .app-container
//    > aside
//      # sidebar
//    > section
//      > .app
//
// -------------------------------------------------------------



html {
	/* $replace rtl */ direction: ltr;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

html, body {
	width: 100%;
	height: 100%;
}
body {
	min-width: 1199px;
}

// Main wrapper
// -----------------------------
.app-container {
	position: relative;
	// width: 100%;
	// min-width: 1199px;
	// min-height: 100%;
	height: auto;
	> aside {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: $z-index-aside;
	}
	// Contains the main content
	> section {
		position: relative;
		height: 100%;
		margin-left: $aside-wd;
		z-index: $z-index-section;
	}
	// Page Footer
	// > footer {
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	height: $footer-hg;
	// 	padding: $content-padding;
	// 	border-top: 1px solid $gray-light;
	// 	background-color: $body-bg;
	// 	z-index: $z-index-footer;
	// 	> p {
	// 		margin: 0;
	// 	}
	// }
}

.sidebar-wrapper {
	height: 100%;
	@include box-shadow(1px 0 4px rgba(0, 0, 0, 0.25));

	// overflow: hidden;
}
.sidebar {
	position: relative;
	width: 100%;
	height: 100%;
	// overflow-x: hidden;
	// overflow-y: hidden;
	// -webkit-overflow-scrolling: touch;
}

// Fixed layout
// -----------------------------
.layout-fixed {
	overflow-x: hidden;
	overflow-y: hidden;
}
.aside-collapsed, .layout-fixed  {
	@include translate3d(0,0,0);
	@include transition-transform(.5s ease);
}
.app-container {
	.layout-fixed & {
		@include transition(all 1s ease-in-out);
		> aside {
			position: fixed;
			width: $aside-wd;
		}
		> section {
		}
	}
	.aside-collapsed & {
		@include transition(all 1s ease-in-out);
		> aside {
			position: absolute;
			left: $aside-wd*-1;
		}
		> section {
			margin-left: 0;
		}
	}
}


/*
 * Base structure
 */
.top-buffer {
	margin-top: 20px;
}
.align-middle {
	vertical-align: middle;
}
.align-middle-table {
	thead > tr > th,
	thead > tr > td,
	tbody > tr > th,
	tbody > tr > td,
	tfoot > tr > th,
	tfoot > tr > td {
		@extend .align-middle;
	}
}


/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}
.navbar-default {
	background-color: transparent;
}
/*
 *  Side navigation
 */
.sidebar {
	background-color: $parimary;
	a {
		color: #fff;
	}
	i {
		margin-right: .5em;
	}
}
$logo-radius: 10px;
.sidebar__logo {
	margin-left: 12px;
	margin-right: 12px;
	position: relative;
	display: block;
	background-color: #fff;
	@extend header;
	z-index: $z-index-header;
	@include box-shadow(0 1px 4px rgba(0, 0, 0, 0.25));
	@include border-radius(0 0 $logo-radius $logo-radius);
	@include pie-clearfix;
	@extend %text-centered;
	.navbar-brand {
		@extend %center-block;
		float: none;
		> div[class^='logo-'] {
			display: inline-block;
		}
		.logo-img {
			@extend %center-block;
		}
		.logo-text {
			@extend %center-block;
			color: $text-color;
			vertical-align: middle;
			line-height: 1.5;
			margin-top: .5em;
		}
	}
} 
.nav-sidebar {
}
.nav-list {
	padding: 15px 20px 15px 40px;
}
.nav-sidebar {
	z-index: $z-index-header - 1;
	> li {
		a {
			&:hover {
				background-color: transparent;
			}
			&:focus {
				background-color: transparent;
			}
		}
		> a {
			@extend .nav-list;
		}
		&.active {
			background-color: #649dd6;
			> a {
				background-color: $secondary;
				@include box-shadow(0 1px 4px rgba(0, 0, 0, 0.15));
				// padding-right: 12px;
				// margin-left: -12px;
				width: $aside-wd + 5px;
			}
		}
	}
	&-sub {
		li > a {
			@extend .nav-list;
		}
	}
	.open > a, .open > a:hover, .open > a:focus {
		background-color: inherit;
	}
	.dropdown-menu {
		right: 0;
		background-color: lighten(#649dd6, 35%);
		a {
			text-align: center;
		}
	}
	span.caret {
		margin-left: .75em;
	}
}

/*
 * Main content
 */

.main {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: $content-padding;
	padding-right: $content-padding;
	// font-size: 13px;
	overflow-x: auto;
	overflow-y: auto;
}

.main .page-header {
	margin-top: 0;
}

.scroll-main {
	overflow-x: scroll;
	overflow-y: visible;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.navbar-brand {
	span {
		
	}
	height: auto;
}

.nav-sidebar-sub {
	li {
		text-indent: 32px;
		background: url('../img/nav-sidebar-sub-line.png') no-repeat 50px 0;
		&:hover {
			background-color: $secondary;
		}
		&:nth-last-child(1) {
			background-position: 50px -26px;
		}
		&.active a {
			background: url('../img/nav-sidebar-sub-dot.png') no-repeat 25px -52px;
		}
		a {
			background: url('../img/nav-sidebar-sub-dot.png') no-repeat 25px 0;
		}

	}

}

/* added account-case */
.case_new_checkcont2 {
	@include is-hidden;
}

.aside-collapsed {

}
