%helvetica-light {
  font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

body {
  @extend %helvetica-light;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}