<div class="row top-buffer form-horizontal well clearfix">
	<form class="form-horizontal" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2">
					<lable class="form-control-static">查詢條件</lable>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="請輸入居服員、案號或個案姓名"></div>
			</div>
			<div class="form-group">
				<div class="col-md-2">
					<p class="form-control-static">日期區間</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
						<div class="col-md-2">~</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default">
				查詢 <i class="fa fa-search fa-fw"></i>
			</button>
		</div>
		<div class="col-md-2 text-right">
			<button class="btn btn-primary"> <i class="fa fa-fw fa-table"></i>
				匯出 excel
			</button>
		</div>
	</form>
</div>
<hr>          
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th rowspan="2">序號</th>
				<th rowspan="2">雙連案號</th>
				<th rowspan="2">長照案號</th>
				<th rowspan="2">照護者</th>
				<th rowspan="2">居服員</th>
				<th rowspan="2">身分別</th>
				<th rowspan="2">縣市</th>
				<th rowspan="2">區別</th>
				<th rowspan="2">里別</th>
				<th rowspan="2">日期</th>
				<th rowspan="2">時間</th>
				<th rowspan="2">性質</th>
				<th rowspan="2">訪談對象</th>
				<th colspan="11">訪談與處遇</th>
				<th colspan="2">簽章</th>
			</tr>
			<tr>
				<th>生理狀況</th>
				<th>心理狀況</th>
				<th>家庭支持</th>
				<th>其他狀況</th>
				<th>居服員服務內容執行情形</th>
				<th>居服員出勤狀況</th>
				<th>居服員服務提供狀況</th>
				<th>服務待調整 / 改善事項</th>
				<th>具體建議事項</th>
				<th>其他狀況</th>
				<th>處遇</th>
				<th>單位主管</th>
				<th>督導員</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>SL12345678</td>
				<td>WXJW44498</td>
				<td>張大春</td>
				<td>王小明</td>
				<td>長十</td>
				<td>新北市</td>
				<td>淡水區</td>
				<td>竿蓁里</td>
				<td>2015-10-01</td>
				<td>下午 04:00-06:00</td>
				<td>例行電訪</td>
				<td>家人, 案女</td>
				<td>穩定, (說明)</td>
				<td>尚可, (說明)</td>
				<td>差, (說明)</td>
				<td></td>
				<td>良好、皆執行</td>
				<td>皆準時</td>
				<td>良好、滿意</td>
				<td>有, (說明)</td>
				<td>無, (說明)</td>
				<td></td>
				<td></td>
				<td></td>
				<td>楊雅惠</td>
			</tr>
		</tbody>
	</table>
</div>