<div class="row top-buffer form-horizontal well clearfix">
	<form class="form-horizontal" role="form">
		<div class="col-md-9">
			<div class="">
				<lable class="col-md-2 form-control-static">日期區間</lable>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5">
						<input type="text" class="form-control datepicker" placeholder=""></div>
					<div class="col-md-2">~</div>
					<div class="col-md-5">
						<input type="text" class="form-control datepicker" placeholder=""></div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default">
				查詢 <i class="fa fa-search fa-fw"></i>
			</button>
		</div>
		<div class="col-md-2 text-right">
			<button class="btn btn-primary"> <i class="fa fa-fw fa-table"></i>
				匯出 excel
			</button>
		</div>
	</form>
</div>
<hr>          
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th rowspan="2"></th>
				<th rowspan="2">03月</th>
				<th rowspan="2">04月</th>
				<th rowspan="2">05月</th>
				<th rowspan="2">06月</th>
				<th rowspan="2">07月</th>
				<th rowspan="2">08月</th>
				<th rowspan="2">合計</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th rowspan="2"></th>
				<th colspan="6" class="text-center">{服務項目類別A}</th>
				<th rowspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>服務項目A-1</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td></td>
			</tr>
			<tr>
				<td>服務項目A-2</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td></td>
			</tr>
			<tr>
				<td>服務項目A-3</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td></td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<th rowspan="2"></th>
				<th colspan="6" class="text-center">{服務項目類別B}</th>
				<th rowspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>服務項目B-1</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td></td>
			</tr>
			<tr>
				<td>服務項目B-2</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td></td>
			</tr>
			<tr>
				<td>服務項目B-3</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td></td>
			</tr>
			<tr>
				<td>服務項目B-4</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td></td>
			</tr>
			<tr>
				<td>服務項目B-5</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td>{數量}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>