<div class="row top-buffer">
    <div class="col-md-8">
        <form class="form-inline" role="form">
            <div class="form-group "> 時間區間
                <input type="date" class="form-control" placeholder=""> ~ 
                <input type="date" class="form-control" placeholder="">
                <button class="btn btn-default">查詢
                    <i class="fa fa-search fa-fw"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-primary pull-right"><i class="fa fa-fw fa-table"></i>匯出 excel</button>
    </div>
</div>
<hr>
<div class="row top-buffer">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#">照顧服務</a>
        </li>
        <li>
            <a href="#">收入區間</a>
        </li>
    </ul>
</div>
<br>
<div class="row">
    <p>照顧服務：居家服務( 新制 )</p>
    <div class="col-md-12">
        <table class="table align-middle-table custom-table-01 reset-list-style">
            <thead>
                <tr>
                    <th rowspan="4">項目</th>
                    <th colspan="24">65歲以上老人</th>
                </tr>
                <tr>
                    <th colspan="6">低收入</th>
                    <th colspan="6">中低收入1.5倍</th>
                    <th colspan="6">中低收入1.5 - 2.5倍</th>
                    <th colspan="6">一般戶</th>
                </tr>
                <tr>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                </tr>
                <tr>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>人數</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>人次</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>政府補助時數</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>完全自費時數</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>本月新增個案數</td>
                    <td colspan="24">100</td>
                </tr>
                <tr>
                    <td>本月個案結案數</td>
                    <td colspan="24">50</td>
                </tr>
            </tbody>
        </table>
        <table class="table align-middle-table custom-table-01 reset-list-style">
            <thead>
                <tr>
                    <th rowspan="4">項目</th>
                    <th colspan="24">55 - 64 歲山地原住民</th>
                </tr>
                <tr>
                    <th colspan="6">低收入</th>
                    <th colspan="6">中低收入1.5倍</th>
                    <th colspan="6">中低收入1.5 - 2.5倍</th>
                    <th colspan="6">一般戶</th>
                </tr>
                <tr>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                </tr>
                <tr>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>人數</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>人次</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>政府補助時數</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>完全自費時數</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>本月新增個案數</td>
                    <td colspan="24">100</td>
                </tr>
                <tr>
                    <td>本月個案結案數</td>
                    <td colspan="24">50</td>
                </tr>
            </tbody>
        </table>
        <table class="table align-middle-table custom-table-01 reset-list-style">
            <thead>
                <tr>
                    <th rowspan="4">項目</th>
                    <th colspan="24">50 - 64 歲身心障礙者</th>
                </tr>
                <tr>
                    <th colspan="6">低收入</th>
                    <th colspan="6">中低收入1.5倍</th>
                    <th colspan="6">中低收入1.5 - 2.5倍</th>
                    <th colspan="6">一般戶</th>
                </tr>
                <tr>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                    <th colspan="2">輕度</th>
                    <th colspan="2">中度</th>
                    <th colspan="2">重度</th>
                </tr>
                <tr>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                    <th>男</th>
                    <th>女</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>人數</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>人次</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>政府補助時數</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>完全自費時數</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>本月新增個案數</td>
                    <td colspan="24">100</td>
                </tr>
                <tr>
                    <td>本月個案結案數</td>
                    <td colspan="24">50</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table align-middle-table custom-table-01 reset-list-style">
            <thead>
                <tr>
                    <th>本月個案數</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>暫停個案數</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>本月新增個案數</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>本月個案結案數</td>
                    <td>50</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
