
<div class="row ">
    <div class="col-md-8">
        <form class="form-inline" role="form">
            <div class="form-group col-md-12">時間區間
                <input type="date" class="form-control" placeholder="">~
                <input type="date" class="form-control" placeholder="">
                <button class="btn btn-default">查詢</button>
            </div>
        </form>
    </div>
    <div class="col-md-4 text-right">
        <button type="submit" class="btn btn-default">匯出 excel</button>
    </div>
</div>
<br>
<div class="row col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="2">序號</th>
                <th rowspan="2">案號</th>
                <th rowspan="2">性名</th>
                <th rowspan="2">性別</th>
                <th rowspan="2">出生日期</th>
                <th colspan="2">身分別</th>
                <th rowspan="2">障別</th>
                <th rowspan="2">宗教</th>
                <th colspan="3">現居地址</th>
                <th rowspan="2">居住狀況</th>
                <th rowspan="2">開始提供服務日期</th>
                <th colspan="2">結案</th>
            </tr>
            <tr>
                <th>是否為原住民</th>
                <th>是否有身障手冊</th>
                <th>區別</th>
                <th>里別</th>
                <th>地址</th>
                <th>日期</th>
                <th>原因</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>淡001</td>
                <td>王美麗</td>
                <td>女</td>
                <td>31.8.9</td>
                <td>否</td>
                <td>有</td>
                <td>重要器官失去功能</td>
                <td>道教</td>
                <td>淡水</td>
                <td>新春街</td>
                <td>104之4號3樓(加州社區大廈)</td>
                <td>獨居</td>
                <td>102.5.30</td>
                <td>102.5.30</td>
                <td>個案過世</td>
            </tr>
            <tr>
                <td>2</td>
                <td>淡002</td>
                <td>黃細妹</td>
                <td>女</td>
                <td>26.7.20</td>
                <td>否</td>
                <td>有</td>
                <td>重要器官失去功能</td>
                <td>道教</td>
                <td>淡水</td>
                <td>新春街</td>
                <td>104之4號3樓(加州社區大廈)</td>
                <td>獨居</td>
                <td>102.5.30</td>
                <td>102.5.30</td>
                <td>個案將搬回香港居住，目前無服務需求</td>
            </tr>
            <tr>
                <td>3</td>
                <td>淡003</td>
                <td>陳永豪</td>
                <td>男</td>
                <td>35.6.18</td>
                <td>否</td>
                <td>有</td>
                <td>重要器官失去功能</td>
                <td>道教</td>
                <td>淡水</td>
                <td>新春街</td>
                <td>104之4號3樓(加州社區大廈)</td>
                <td>獨居</td>
                <td>102.5.30</td>
                <td>102.5.30</td>
                <td>個案過世</td>
            </tr>
            <tr>
                <td>4</td>
                <td>淡003</td>
                <td>陳永豪</td>
                <td>男</td>
                <td>35.6.18</td>
                <td>否</td>
                <td>有</td>
                <td>重要器官失去功能</td>
                <td>道教</td>
                <td>淡水</td>
                <td>新春街</td>
                <td>104之4號3樓(加州社區大廈)</td>
                <td>獨居</td>
                <td>102.5.30</td>
                <td>102.5.30</td>
                <td>不符合服務提供資格</td>
            </tr>
            <tr>
                <td>5</td>
                <td>淡003</td>
                <td>陳永豪</td>
                <td>男</td>
                <td>35.6.18</td>
                <td>否</td>
                <td>有</td>
                <td>重要器官失去功能</td>
                <td>道教</td>
                <td>淡水</td>
                <td>新春街</td>
                <td>104之4號3樓(加州社區大廈)</td>
                <td>獨居</td>
                <td>102.5.30</td>
                <td>102.5.30</td>
                <td>其他</td>
            </tr>
        </tbody>
    </table>
</div>

