<div class="row top-buffer">
    <div class="col-md-8">
        <form class="form-inline" role="form">
            <div class="form-group "> 時間區間
                <input type="text" class="form-control datepicker" placeholder=""> ~ 
                <input type="text" class="form-control datepicker" placeholder="">
                <button class="btn btn-default">查詢
                    <i class="fa fa-search fa-fw"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-primary pull-right">
            <i class="fa fa-fw fa-table"></i>匯出 excel</button>
    </div>
</div>
<hr>
<div class="row top-buffer">
    <ul class="nav nav-tabs">
        <li>
            <a href="#">照顧服務</a>
        </li>
        <li class="active">
            <a href="#">收入區間</a>
        </li>
    </ul>
</div>
<div class="row top-buffer">
    <p>照顧服務：居家服務( 新制 )</p>
    <table class="table align-middle-table custom-table-01 reset-list-style">
        <thead>
            <tr>
                <th>區域</th>
                <th>低收入</th>
                <th>中低收入</th>
                <th>一般戶</th>
                <th>合計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>板橋區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>三重區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>永和區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>中和區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>新莊區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>新店區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>土城區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>蘆洲區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>樹林區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td>三峽區</td>
                <td>100</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
        </tbody>
    </table>
</div>

