<div class="row top-buffer">
    <div class="col-md-8">
        <form class="form-inline" role="form">
            <div class="form-group"> 時間區間 
                <input type="date" class="form-control" placeholder=""> ~ 
                <input type="date" class="form-control" placeholder="">
                <select class="form-control">
                    <option>新制</option>
                    <option>舊制</option>
                </select>
                <button class="btn btn-default">查詢
                    <i class="fa fa-search fa-fw"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-primary pull-right"><i class="fa fa-fw fa-table"></i>匯出 excel</button>
    </div>
</div>
<hr>
<div class="row top-buffer">
    很抱歉，沒有找到符合查詢的相關結果。 
</div>