<div class="row top-buffer">
    <div class="col-md-8">
        <form class="form-inline" role="form">
            <div class="form-group"> 時間區間
                <input type="date" class="form-control" placeholder=""> ~
                <input type="date" class="form-control" placeholder="">
                <button class="btn btn-default">查詢
                    <i class="fa fa-search fa-fw"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-primary pull-right"><i class="fa fa-fw fa-table"></i>匯出 excel</button>
    </div>
</div>
<hr>
<div class="row top-buffer">
    <h5>一、居家服務訓練課程</h5>
    <table class="table align-middle-table custom-table-01 reset-list-style">
        <thead>
            <tr>
                <th class="col-md-2">項目</th>
                <th class="col-md-8">&nbsp;</th>
                <th class="col-md-2">機構自辦在職訓練</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>居家服務員</td>
                <td>次數</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>男 ( 人數 )</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>女 ( 人數 )</td>
                <td></td>
            </tr>
            <tr>
                <td>居家督導員</td>
                <td>次數</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>男 ( 人數 )</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>女 ( 人數 )</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h5>二、新增居家服務員、督導員月表報</h5>
    <table class="table align-middle-table custom-table-01 reset-list-style">
        <thead>
            <tr>
                <th class="col-md-2">&nbsp;</th>
                <th class="col-md-2">&nbsp;</th>
                <th class="col-md-2">&nbsp;</th>
                <th class="col-md-2">男</th>
                <th class="col-md-2">女</th>
                <th class="col-md-2">合計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="8">居家服務員</td>
                <td>一般民眾</td>
                <td>中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>非中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>原住民</td>
                <td>中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>非中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>低收入戶</td>
                <td>中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>非中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>其他</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>小計</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="8">居家督導員</td>
                <td>一般民眾</td>
                <td>中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>非中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>原住民</td>
                <td>中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>非中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>低收入戶</td>
                <td>中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>非中高齡</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>其他</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>小計</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>合計</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h5>三、居家服務員投入狀況</h5>
    <table class="table align-middle-table custom-table-01 reset-list-style">
        <thead>
            <tr>
                <th class="col-md-2">工作狀況</th>
                <th class="col-md-4" colspan="2">全職</th>
                <th class="col-md-4" colspan="2">兼職</th>
                <th class="col-md-2">合計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>居家服務員</td>
                <td class="col-md-2">男</td>
                <td class="col-md-2">女</td>
                <td class="col-md-2">男</td>
                <td class="col-md-2">女</td>
                <td class="col-md-2">&nbsp;</td>
            </tr>
            <tr>
                <td>性別</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>人數</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>服務人數</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>服務人次</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>服務時數</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
