
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#">個案成果</a>
        </li>
        <li>
            <a href="#">投入成果</a>
        </li>
        <li>
            <a href="#">收入區別</a>
        </li>
        <li>
            <a href="#">障礙等級</a>
        </li>
    </ul>
</div>
<br>
<div class="row">
    <form class="form-inline" role="form">
        <div class="form-group col-md-12">
            <p class="form-control-static">時間區間</p>
            <input type="date" class="form-control" placeholder="">
            <p class="form-control-static">~</p>
            <input type="date" class="form-control" placeholder="">
            <select class="form-control">
                <option>新制</option>
                <option>舊制</option>
            </select>
            <button class="btn btn-default">查詢
                <i class="fa fa-search fa-fw"></i>
            </button>
            <button class="btn btn-primary pull-right">
                <i class="fa fa-fw fa-table"></i>匯出 excel</button>
        </div>
    </form>
</div>
<br>
<div class="row">
    <div style="height:1px; background-color:#D5D5D5;"></div>
</div>
<br>很抱歉，沒有找到符合查詢的相關結果。